Hybrid Recommender System

In [1]:
import pandas as pd

In [2]:
filepath_movie = r"C:\Users\semih\miuul\datasets\movie.csv"
filepath_rating = r"C:\Users\semih\miuul\datasets\rating.csv"

movie = pd.read_csv(filepath_movie)
rating = pd.read_csv(filepath_rating)

In [3]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:

movie.shape

(27278, 3)

In [5]:
rating.shape

(20000263, 4)

In [6]:
rating.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [7]:
rating["userId"].nunique()

138493

In [8]:
df = movie.merge(rating, how="left", on="movieId")
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,2009-01-02 01:13:41

In [9]:
df.shape

(20000797, 6)

In [10]:
# Herbir film için toplam kaç kişinin oy kullanıldığını hesaplıyoruz.
comment_counts = pd.DataFrame(df["title"].value_counts())
comment_counts

                                           count
title
Pulp Fiction (1994)                        67310
Forrest Gump (1994)                        66172
Shawshank Redemption, The (1994)           63366
Silence of the Lambs, The (1991)           63299
Jurassic Park (1993)                       59715
...                                          ...
Rapture (Arrebato) (1980)                      1
Education of Mohammad Hussein, The (2013)      1
Satanas (2007)                                 1
Psychosis (2010)                               1
Innocence (2014)                               1

[27262 rows x 1 columns]

In [16]:
comment_counts = comment_counts.reset_index()  # Index'teki değişkenleri sütun haline getirir

In [11]:
# Toplam oy kullanılma sayısı 1000'in altında olan filmlerin isimlerini rare_movies de tutuyoruz.
# Ve veri setinden çıkartıyoruz
rare_movies = comment_counts[comment_counts["count"] <= 1000].index
common_movies = df[~df["title"].isin(rare_movies)]
common_movies.shape

(17766015, 6)

In [12]:
user_movie_df = common_movies.pivot_table(index=["userId"], columns=["title"], values="rating")
user_movie_df.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# tüm işlemlerin fonksiyonlaştırılması
def create_user_movie_df():
    import pandas as pd
    movie = pd.read_csv(filepath_movie)
    rating = pd.read_csv(filepath_rating)
    df = movie.merge(rating, how="left", on="movieId")
    comment_counts = pd.DataFrame(df["title"].value_counts())
    rare_movies = comment_counts[comment_counts["title"] <= 1000].index
    common_movies = df[~df["title"].isin(rare_movies)]
    user_movie_df = common_movies.pivot_table(index=["userId"], columns=["title"], values="rating")
    return user_movie_df

user_movie_df = create_user_movie_df()

Öneri Yapılacak Kullanıcının İzlediği Filmlerin Belirlenmesi

In [16]:
# Rastgele bir kullanıcı id'si seçiyoruz.
random_user = 108170

In [17]:
# Seçilen kullanıcıya ait gözlem birimlerinden oluşan random_user_df adında yeni bir dataframe oluşturuyoruz.
random_user_df = user_movie_df[user_movie_df.index == random_user]
random_user_df.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
108170.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Seçilen kullanıcının oy kullandığı filmleri movies_watched adında bir listeye atıyoruz.
movies_watched = random_user_df.columns[random_user_df.notna().any()].to_list()
movies_watched

['2001: A Space Odyssey (1968)',
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'Akira (1988)',
 'Aladdin (1992)',
 'Aliens (1986)',
 'Almost Famous (2000)',
 'Along Came Polly (2004)',
 'Amadeus (1984)',
 'American History X (1998)',
 'Any Given Sunday (1999)',
 'Arachnophobia (1990)',
 'Army of Darkness (1993)',
 'Bad Santa (2003)',
 'Basic Instinct (1992)',
 'Batman Returns (1992)',
 'Big Lebowski, The (1998)',
 'Blair Witch Project, The (1999)',
 'Blues Brothers, The (1980)',
 'Boondock Saints, The (2000)',
 'Bourne Identity, The (2002)',
 'Braveheart (1995)',
 'Breakfast Club, The (1985)',
 "Carlito's Way (1993)",
 'Catwoman (2004)',
 "Charlie's Angels (2000)",
 'City Slickers (1991)',
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'Clear and Present Danger (1994)',
 'Clerks (1994)',
 'Clockwork Orange, A (1971)',
 'Con Air (1997)',
 'Contact (1997)',
 'Copycat (1995)',
 'Crocodile Dundee (1986)',
 'Cruel Intentions (1999)',
 'Crying Game, The (1992)',
 'Dark Crystal, The (1982)',
 'Dawn of the Dead (2004)',
 'Dead Poets Society (1989)',
 'Deliverance (1972)',
 'Demolition Man (1993)',
 'Desperado (1995)',
 "Devil's Advocate, The (1997)",
 'Dirty Rotten Scoundrels (1988)',
 'Donnie Darko (2001)',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
 'Easy Rider (1969)',
 'Edward Scissorhands (1990)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 'Evil Dead II (Dead by Dawn) (1987)',
 "Ferris Bueller's Day Off (1986)",
 'Fight Club (1999)',
 'Finding Nemo (2003)',
 'Finding Neverland (2004)',
 'First Knight (1995)',
 'Fisher King, The (1991)',
 'Flight of the Navigator (1986)',
 'Freddy Got Fingered (2001)',
 'Frighteners, The (1996)',
 'From Dusk Till Dawn (1996)',
 'Gangs of New York (2002)',
 'Gattaca (1997)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Gladiator (2000)',
 'Goldfinger (1964)',
 'Goodfellas (1990)',
 'Grand Day Out with Wallace and Gromit, A (1989)',
 'Grease (1978)',
 'Grease 2 (1982)',
 'Green Mile, The (1999)',
 'Grosse Pointe Blank (1997)',
 'Harry Potter and the Prisoner of Azkaban (2004)',
 'Hero (Ying xiong) (2002)',
 'Highlander (1986)',
 'Honey, I Shrunk the Kids (1989)',
 'Hunt for Red October, The (1990)',
 'Indiana Jones and the Last Crusade (1989)',
 'Italian Job, The (2003)',
 'Kill Bill: Vol. 1 (2003)',
 'Kill Bill: Vol. 2 (2004)',
 'Kindergarten Cop (1990)',
 'Kingpin (1996)',
 "Knight's Tale, A (2001)",
 'Labyrinth (1986)',
 'Last Action Hero (1993)',
 'Last Samurai, The (2003)',
 'Leaving Las Vegas (1995)',
 "Lemony Snicket's A Series of Unfortunate Events (2004)",
 'Liar Liar (1997)',
 'Life Is Beautiful (La Vita è bella) (1997)',
 'Little Mermaid, The (1989)',
 'Live and Let Die (1973)',
 'Lord of the Rings: The Fellowship of the Ring, The (2001)',
 'Lord of the Rings: The Return of the King, The (2003)',
 'Lord of the Rings: The Two Towers, The (2002)',
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 'Master and Commander: The Far Side of the World (2003)',
 'Matrix, The (1999)',
 'Meet the Parents (2000)',
 'Memento (2000)',
 'Mickey Blue Eyes (1999)',
 'Minority Report (2002)',
 'Misery (1990)',
 'Mission: Impossible (1996)',
 'Mission: Impossible II (2000)',
 'Monsters, Inc. (2001)',
 'Monty Python Live at the Hollywood Bowl (1982)',
 'Monty Python and the Holy Grail (1975)',
 "Monty Python's Life of Brian (1979)",
 'Mulholland Drive (2001)',
 "Muriel's Wedding (1994)",
 'My Cousin Vinny (1992)',
 'Naked Gun: From the Files of Police Squad!, The (1988)',
 'Nine Months (1995)',
 "Ocean's Eleven (2001)",
 'Others, The (2001)',
 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)',
 'Police Academy 5: Assignment: Miami Beach (1988)',
 'Police Academy 6: City Under Siege (1989)',
 'Princess Bride, The (1987)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Rain Man (1988)',
 'Reservoir Dogs (1992)',
 'Ringu (Ring) (1998)',
 'Rob Roy (1995)',
 'Robin Hood: Men in Tights (1993)',
 'Romancing the Stone (1984)',
 'Rumble in the Bronx (Hont faan kui) (1995)',
 'Saving Private Ryan (1998)',
 'Scarface (1983)',
 "Schindler's List (1993)",
 'Secret of NIMH, The (1982)',
 'Seven (a.k.a. Se7en) (1995)',
 'Shaun of the Dead (2004)',
 'Shawshank Redemption, The (1994)',
 'Shining, The (1980)',
 'Shrek (2001)',
 'Shrek 2 (2004)',
 'Silence of the Lambs, The (1991)',
 'Sixth Sense, The (1999)',
 'Snatch (2000)',
 'Sneakers (1992)',
 'So I Married an Axe Murderer (1993)',
 'Sound of Music, The (1965)',
 'Specialist, The (1994)',
 'Species (1995)',
 'Speed 2: Cruise Control (1997)',
 'Spice World (1997)',
 'Spider-Man 2 (2004)',
 'Stand by Me (1986)',
 'Star Trek II: The Wrath of Khan (1982)',
 'Star Trek III: The Search for Spock (1984)',
 'Star Trek: First Contact (1996)',
 'Star Trek: Generations (1994)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Star Wars: Episode II - Attack of the Clones (2002)',
 'Star Wars: Episode III - Revenge of the Sith (2005)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Street Fighter (1994)',
 'Terminator 2: Judgment Day (1991)',
 'Terminator, The (1984)',
 "There's Something About Mary (1998)",
 'Three Musketeers, The (1993)',
 'Tin Cup (1996)',
 'Titanic (1997)',
 'Tomorrow Never Dies (1997)',
 'Top Gun (1986)',
 'Toy Story (1995)',
 'Toy Story 2 (1999)',
 'Traffic (2000)',
 'Trainspotting (1996)',
 'Truman Show, The (1998)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Twister (1996)',
 'Untouchables, The (1987)',
 'Usual Suspects, The (1995)',
 'Wallace & Gromit: A Close Shave (1995)',
 'Wallace & Gromit: The Best of Aardman Animation (1996)',
 'Wallace & Gromit: The Wrong Trousers (1993)',
 'Wedding Singer, The (1998)',
 'Who Framed Roger Rabbit? (1988)',
 'Wild at Heart (1990)',
 'Willow (1988)',
 'X2: X-Men United (2003)']

In [20]:
movie.columns[movie.notna().any()].to_list()

['movieId', 'title', 'genres']

Aynı Filmleri İzleyen Diğer Kullanıcıların Verisine ve Id'lerine Erişmek

In [ ]:
# Seçilen kullanıcının izlediği fimlere ait sutunları user_movie_df'ten seçiniz ve movies_watched_df adında yeni bir dataframe oluşturuyoruz.
movies_watched_df = user_movie_df[movies_watched]
movies_watched_df.shape

(138493, 186)

In [22]:
# Herbir kullancının seçili user'in izlediği filmlerin kaçını izlediği bilgisini taşıyan user_movie_count adında yeni bir dataframe oluşturuyoruz.
# Ve yeni bir df oluşturuyoruz.
user_movie_count = movies_watched_df.T.notnull().sum()
user_movie_count = user_movie_count.reset_index()
user_movie_count.columns = ["userId", "movie_count"]
user_movie_count.head(5)

   userId  movie_count
0     1.0           53
1     2.0           11
2     3.0           47
3     4.0            5
4     5.0           16

In [23]:
# Seçilen kullanıcının oy verdiği filmlerin yüzde 60 ve üstünü izleyenleri benzer kullanıcılar olarak görüyoruz.
# Bu kullanıcıların id’lerinden users_same_movies adında bir liste oluşturuyoruz.
perc = len(movies_watched) * 60 / 100
users_same_movies = user_movie_count[user_movie_count["movie_count"] > perc]["userId"]
len(users_same_movies)

2326

Öneri Yapılacak Kullanıcı ile En Benzer Kullanıcıların Belirlenmesi

In [24]:
# user_same_movies listesi içerisindeki seçili user ile benzerlik gösteren kullanıcıların id’lerinin bulunacağı şekilde movies_watched_df dataframe’ini filtreliyoruz.
final_df = movies_watched_df[movies_watched_df.index.isin(users_same_movies)]
final_df.head()

title,2001: A Space Odyssey (1968),"Adventures of Priscilla, Queen of the Desert, The (1994)",Akira (1988),Aladdin (1992),Aliens (1986),Almost Famous (2000),Along Came Polly (2004),Amadeus (1984),American History X (1998),Any Given Sunday (1999),...,"Untouchables, The (1987)","Usual Suspects, The (1995)",Wallace & Gromit: A Close Shave (1995),Wallace & Gromit: The Best of Aardman Animation (1996),Wallace & Gromit: The Wrong Trousers (1993),"Wedding Singer, The (1998)",Who Framed Roger Rabbit? (1988),Wild at Heart (1990),Willow (1988),X2: X-Men United (2003)
userId,,,,,,,,,,,,,,,,,,,,,
91.0,2.5,4.0,2.5,NaN,4.0,3.0,NaN,3.5,3.5,NaN,...,4.0,3.5,4.0,4.0,4.0,3.5,4.0,NaN,3.5,3.5
116.0,NaN,NaN,NaN,3.0,NaN,3.0,NaN,NaN,4.5,3.5,...,NaN,4.5,NaN,NaN,3.5,2.0,3.0,NaN,1.0,4.5
156.0,NaN,3.0,NaN,NaN,5.0,5.0,NaN,4.0,NaN,NaN,...,5.0,5.0,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN
294.0,4.5,4.0,4.5,4.0,4.5,3.5,NaN,2.5,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,4.5,3.5
298.0,NaN,NaN,NaN,3.0,5.0,5.0,NaN,NaN,4.0,5.0,...,3.0,5.0,NaN,NaN,NaN,4.0,3.0,NaN,4.0,NaN

In [25]:
# Kullanıcıların birbirleri ile olan korelasyonlarının bulunacağı yeni bir corr_df dataframe’i oluşturunuz.
corr_df = final_df.T.corr().unstack().sort_values()
corr_df = pd.DataFrame(corr_df, columns=["corr"])
corr_df.index.names = ['user_id_1', 'user_id_2']
corr_df = corr_df.reset_index()

In [26]:
corr_df[corr_df["user_id_1"] == random_user]

         user_id_1  user_id_2      corr
23452     108170.0    89242.0 -0.138100
31228     108170.0    25614.0 -0.122044
40470     108170.0    12490.0 -0.106929
50270     108170.0    87954.0 -0.094216
52070     108170.0   122980.0 -0.092017
...            ...        ...       ...
5398945   108170.0   121747.0  0.673295
5404112   108170.0   119285.0  0.700081
5405004   108170.0    11517.0  0.707652
5405810   108170.0     5155.0  0.716406
5409395   108170.0   108170.0  1.000000

[2326 rows x 3 columns]

In [27]:
# Seçili kullanıcı ile yüksek korelasyona sahip (0.65’in üzerinde olan) kullanıcıları filtreleyerek top_users adında yeni bir dataframe oluşturuyoruz.
top_users = corr_df[(corr_df["user_id_1"] == random_user) & (corr_df["corr"] >= 0.65)][["user_id_2", "corr"]].reset_index(drop=True)
top_users = top_users.sort_values(by='corr', ascending=False)
top_users.rename(columns={"user_id_2": "userId"}, inplace=True)
top_users.head()

     userId      corr
6  108170.0  1.000000
5    5155.0  0.716406
4   11517.0  0.707652
3  119285.0  0.700081
2  121747.0  0.673295

In [29]:
# top_users dataframe’ini rating veri seti ile merge edinyoruz ve top_users_ratings adında yeni bir dataframe oluşturuyoruz.
top_users_ratings = top_users.merge(rating[["userId", "movieId", "rating"]], how='inner')
top_users_ratings = top_users_ratings[top_users_ratings["userId"] != random_user]
top_users_ratings["userId"].unique()

array([  5155.,  11517., 119285., 121747.,  12710.,  82860.])

In [30]:
top_users_ratings.head()

     userId      corr  movieId  rating
194  5155.0  0.716406        1     3.5
195  5155.0  0.716406        2     3.0
196  5155.0  0.716406        5     3.0
197  5155.0  0.716406        9     3.0
198  5155.0  0.716406       10     4.0

Weighted Average Recommendation Score'un Hesaplanması ve İlk 5 Filmin Tutulması

In [31]:
# Her bir kullanıcının corr ve rating değerlerinin çarpımından oluşan weighted_rating adında yeni bir değişken oluşturuyoruz
top_users_ratings['weighted_rating'] = top_users_ratings['corr'] * top_users_ratings['rating']
top_users_ratings.head()

     userId      corr  movieId  rating  weighted_rating
194  5155.0  0.716406        1     3.5         2.507423
195  5155.0  0.716406        2     3.0         2.149219
196  5155.0  0.716406        5     3.0         2.149219
197  5155.0  0.716406        9     3.0         2.149219
198  5155.0  0.716406       10     4.0         2.865626

In [32]:
# Film id’sive her bir filme ait tüm kullanıcıların weighted rating’lerinin ortalama değerini içeren recommendation_df adında yeni bir
# dataframe oluşturuyoruz.
recommendation_df = top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"})
recommendation_df = recommendation_df.reset_index()
recommendation_df.head()

   movieId  weighted_rating
0        1         2.124196
1        2         1.319527
2        3         0.986312
3        5         1.484503
4        6         2.526375

In [33]:
# recommendation_df içerisinde weighted rating'i 3.5'ten büyük olan filmleri seçiniz ve weighted rating’e göre sıralıyoruz.
# İlk 5 gözlemi movies_to_be_recommend olarak kaydediyoruz.
recommendation_df[recommendation_df["weighted_rating"] > 3.5]
movies_to_be_recommend = recommendation_df[recommendation_df["weighted_rating"] > 3.5].sort_values("weighted_rating", ascending=False)

In [34]:
# Tavsiye edilen 5 filmin isimleri
movies_to_be_recommend.merge(movie[["movieId", "title"]])["title"][:5]

0    Mystery Science Theater 3000: The Movie (1996)
1                               Natural, The (1984)
2                             Super Troopers (2001)
3                         Christmas Story, A (1983)
4                       Sonatine (Sonachine) (1993)
Name: title, dtype: object

Item-Based Recommendation

In [35]:
user = 108170

In [36]:
movie = pd.read_csv(filepath_movie)
rating = pd.read_csv(filepath_rating)

In [37]:
# Öneri yapılacak kullanıcının 5 puan verdiği filmlerden puanı en güncel olan filmin id'sinin alıyoruz.
movie_id = rating[(rating["userId"] == user) & (rating["rating"] == 5.0)].sort_values(by="timestamp", ascending=False)["movieId"][0:1].values[0]

In [39]:
# User based recommendation bölümünde oluşturulan user_movie_df dataframe’ini seçilen film id’sine göre filtreliyoruz.
movie[movie["movieId"] == movie_id]["title"].values[0]
movie_df = user_movie_df[movie[movie["movieId"] == movie_id]["title"].values[0]]
movie_df.head()

userId
1.0   NaN
2.0   NaN
3.0   NaN
4.0   NaN
5.0   NaN
Name: Wild at Heart (1990), dtype: float64

In [40]:
# Filtrelenen dataframe’i kullanarak seçili filmle diğer filmlerin korelasyonunu buluyoruz ve sıralıyoruz.
user_movie_df.corrwith(movie_df).sort_values(ascending=False).head(10)

title
Wild at Heart (1990)                     1.000000
My Science Project (1985)                0.570187
Mediterraneo (1991)                      0.538868
Old Man and the Sea, The (1958)          0.536192
National Lampoon's Senior Trip (1995)    0.533029
Clockwatchers (1997)                     0.483337
Repo Man (1984)                          0.478674
Lost Highway (1997)                      0.476251
Blue Velvet (1986)                       0.471225
Jeffrey (1995)                           0.457849
dtype: float64

In [42]:
# Son iki adımı uygulayan fonksiyon
def item_based_recommender(movie_name, user_movie_df):
    movie = user_movie_df[movie_name]
    return user_movie_df.corrwith(movie).sort_values(ascending=False).head(10)

In [43]:
movies_from_item_based = item_based_recommender(movie[movie["movieId"] == movie_id]["title"].values[0], user_movie_df)

In [44]:
# 1'den 6'ya kadar. 0'da filmin kendisi var. Onu dışarda bırakıyoruz.
movies_from_item_based[1:6].index

Index(['My Science Project (1985)', 'Mediterraneo (1991)',
       'Old Man and the Sea, The (1958)',
       'National Lampoon's Senior Trip (1995)', 'Clockwatchers (1997)'],
      dtype='object', name='title')